API_KEY= 28b4b56939b14fdf30bcefeb3e935193b0f07ce22523ab5d32afcf3f4151edc0
MONGO_DB_PASS = NiCdH4TX4Dv7fwwb
DOCUMENT_DB_UID = oxhainadmin
DOCUMENT_DB_PASS = fsDFr3dc53zv42a35asc9z1432bs3x87x2
PORT = 9595
NODE_ENV = product
AWS_ACCESS_KEY=AKIASFXC2L67KSLP6L4G
AWS_SECRET_KEY=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